*.swp
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.status
configure
doc/Makefile
src/.deps
src/Makefile
src/base/.deps
src/base/Makefile
src/base/libbase.a
src/bino
src/player_qt-moc.cpp
src/qt_resources-rcc.cpp
src/video_output_opengl_color.fs.glsl.h
src/video_output_opengl_qt-moc.cpp
src/video_output_opengl_render.fs.glsl.h
stamp-h1
